body {
  background-color: var(--page-background-color);
}

/* Typography tweaks */
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: var(--spacing-tiny);
}

h5,
h6 {
  font-variant: none;
  text-decoration: none;
}

/* Table */
table caption {
  text-align: start;
  margin-bottom: var(--spacing-tiny);
}

table th p {
  color: var(--table-header-text-color);
  margin: 0;
}
table p {
  margin-bottom: var(--spacing-tiny);
}