/* Image */
.lgd-image__image + * {
  background-color: var(--image-with-caption-bg-color);
  color: var(--image-with-caption-color);
}




.pull-out-quote__content {
  color: var(--quote-content-color);
}

/* Accordion */

.accordion-pane__title h3 {
  margin: 0;
}

.accordion-pane__title button {
  background: none;
  padding: var(--spacing) 0;
  border: var(--border-none);
  font-family: var(--font-heading-3);
  font-size: var(--font-size-h3);
  color: inherit;
  line-height: var(--heading-3-line-height);
  font-weight: var(--heading-3-font-weight);
}

.paragraph--type--localgov-accordion .field--name-localgov-paragraphs{
  border-top: var(--border);
}

.paragraph--type--localgov-accordion-pane {
  border-bottom: var(--border);
}

.paragraph--type--localgov-accordion .field--name-localgov-paragraphs,
.paragraph--type--localgov-accordion-pane {
  border-color: inherit;
}

.accordion-pane__title button {
  background: url(../../localgov_base/templates/includes/icons/chevron-down.svg) 100% 50% no-repeat;
  background-size: 1.5rem;
}

.accordion-pane__title button[aria-expanded="true"] {
  background-image: url(../../localgov_base/templates/includes/icons/chevron-up.svg);
}

/* Media with text */
.media-with-text__link {
  font-weight: var(--media-with-text-link-weight);
}

.media-with-text--media-left .media-with-text__body {
  padding-left: var(--spacing-larger);
}

.media-with-text--media-right .media-with-text__body {
  padding-right: var(--spacing-larger);
}

/* Featured teaser  */
.featured-teaser {
  background-color: var(--featured-teaser-background);
  color: var(--featured-teaser-color);
  border: var(--featured-teaser-border);
}

.featured-teaser a {
  font-weight: var(--featured-teaser-link-weight);
}
.featured-teaser * {
  color: inherit;
}

.featured-teasers__teasers>.field__items>.field__item+.field__item {
  margin-top: var(--spacing-larger);
}

/* IA Block */
.ia-block--promoted {
  border: var(--ia-block-border);
  color: var(--ia-block-color);
}

/* Call out box */
.call-out-box__content h2,
.call-out-box__content h3 {
  color: var(--call-out-box-text-color);
  /* todo add this to the localgov_base */
}

.call-out-box__link {
  color: var(--call-out-box-text-color);
  background-color: var(--call-out-box-bg-color);
  font-weight: var(--call-out-box-link-weight);
  /* maybe an inverted colour or not choice ? todo add this to the localgov_base */
}

/* Embedded Events need to pick up teaser styles*/

.view-lgms-embed-view-events .views-row {
  margin-bottom: var(--vertical-rhythm-spacing);
  padding-bottom: var(--vertical-rhythm-spacing);
  border-bottom: var(--border);
}

@media screen and (min-width: 48rem) {
  .view-lgms-embed-view-events .views-row {
    display: flex;
    gap: var(--spacing);
  }
}

.view-lgms-embed-view-events .views-field-localgov-event-image {
  flex-basis: 200px;
}

.view-lgms-embed-view-events .views-field-body {
  flex-basis: fit-content;
}

.view-lgms-embed-view-events .event-date {
  margin-bottom: var(--spacing-small);
}

/*Background colours on page sections */

.lgd-page-section--bg-colour-1 .call-out-box__link,
.lgd-page-section--bg-colour-1 .callout-primary,
.lgd-page-section--bg-colour-1 .call-out-box__content {
  background: var( --color-page-section-background-color-1-text-color);
  color: var(--color-page-section-background-color-1);
}

.lgd-page-section--bg-colour-1 .call-out-box--has-image .call-out-box__content{
  background: linear-gradient(to right, var( --color-page-section-background-color-1-text-color) 75%, transparent);
}


.lgd-page-section--bg-colour-1 .call-out-box__content h2,
.lgd-page-section--bg-colour-1 .call-out-box__content h3,
.lgd-page-section--bg-colour-2 .pull-out-quote__content,
.lgd-page-section--bg-colour-2 .pull-out-quote__author,
.lgd-page-section--bg-colour-2 .ia-block--promoted a,
.lgd-page-section--bg-colour-2 .call-out-box__link,
.lgd-page-section--bg-colour-3 .call-out-box__link,
.lgd-page-section--has-bg-colour .featured-teaser a,
.lgd-page-section--has-bg-colour .featured-teaser h2,
.lgd-page-section--has-bg-colour .featured-teaser h3,
.lgd-page-section--has-bg-colour .ia-block--promoted h2,
.lgd-page-section--has-bg-colour .ia-block--promoted h3 {
  color: inherit;
}

.lgd-page-section--bg-colour-2 .ia-block--promoted,
.lgd-page-section--bg-colour-2 .featured-teaser,
.lgd-page-section--bg-colour-2 .lgd-image__image + *,
.lgd-page-section--bg-colour-2 .pull-out-quote {
  background-color: var(--color-page-section-background-color-2-text-color);
  color: var(--color-page-section-background-color-2);
}


.lgd-page-section--has-bg-colour .ia-block:not(.ia-block--promoted) {
  background-color: transparent;
}

.lgd-page-section--has-bg-colour .lgd-icon {
  fill: inherit;
}


aside.lgd-row__one-third {
  border-right: var(--sidebar-border);
}

.lgd-row__two-thirds ~ aside.lgd-row__one-third {
  border-right: 0;
  border-left: var(--sidebar-border);
}

.sidebar .lgd-region__inner > *,
.newsroom__sidebar > * {
  padding-left: 0;
}

.blog-channel__sidebar > * {
  padding-right: 0;
}
