/* Image */
.lgd-image__image + * {
  background-color: var(--image-with-caption-bg-color);
  color: var(--image-with-caption-color);
}

.lgd-page-section--bg-colour-2 .lgd-image__image + * {
  background-color: var(--image-with-caption-color);
  color: var(--image-with-caption-bg-color);
}


.pull-out-quote__content {
  color: var(--quote-content-color);
}

/* Accordion */

.accordion-pane__title h3 {
  margin: 0;
}

.accordion-pane__title button {
  background: none;
  padding: var(--spacing) 0;
  border: var(--border-none);
  font-family: var(--font-heading-3);
  font-size: var(--font-size-h3);
  color: inherit;
  line-height: var(--heading-3-line-height);
  font-weight: var(--heading-3-font-weight);
}

.paragraph--type--localgov-accordion .field--name-localgov-paragraphs{
  border-top: var(--border);
}

.paragraph--type--localgov-accordion-pane {
  border-bottom: var(--border);
}

.accordion-pane__title button {
  background: url(../../localgov_base/templates/includes/icons/chevron-down.svg) 100% 50% no-repeat;
  background-size: 1.5rem;
}

.accordion-pane__title button[aria-expanded="true"] {
  background-image: url(../../localgov_base/templates/includes/icons/chevron-up.svg);
}

/* Media with text */
.media-with-text__link {
  font-weight: var(--media-with-text-link-weight);
}

.media-with-text--media-left .media-with-text__body {
  padding-left: var(--spacing-larger);
}

.media-with-text--media-right .media-with-text__body {
  padding-right: var(--spacing-larger);
}

/* Featured teaser  */
.featured-teaser {
  background-color: var(--featured-teaser-background);
  color: var(--featured-teaser-color);
  border: var(--featured-teaser-border);
}

.featured-teaser a {
  font-weight: var(--featured-teaser-link-weight);
}
.featured-teaser * {
  color: inherit;
}

.featured-teasers__teasers>.field__items>.field__item+.field__item {
  margin-top: var(--spacing-larger);
}

/* IA Block */
.ia-block--promoted {
  /* todo no border */
  border: var(--ia-block-border);
  color: var(--ia-block-color);
}

.ia-block--promoted * {
  color: inherit;
}

/* Call out box */
.call-out-box__content h2,
.call-out-box__content h3 {
  color: var(--call-out-box-text-color);
  /* todo add this to the localgov_base */
}

.call-out-box__link {
  color: var(--call-out-box-text-color);
  background-color: var(--call-out-box-bg-color);
  font-weight: var(--call-out-box-link-weight);
  /* maybe an inverted colour or not choice ? todo add this to the localgov_base */
}

.lgd-page-section--bg-colour-1 {
  color: var(--color-accent-contrast);
}
.lgd-page-section--bg-colour-2 {
  color: var(--color-accent-2-contrast);
}

.lgd-page-section--bg-colour-3 {
  color: var(--color-black);
}

.lgd-page-section--has-bg-colour h2,
.lgd-page-section--has-bg-colour h3,
.lgd-page-section--has-bg-colour h4,
.lgd-page-section--has-bg-colour h5,
.lgd-page-section--has-bg-colour h6 {
  color: inherit;
}


.lgd-page-section--bg-colour-1 .call-out-box .call-out-box__content {
  color: var(--call-out-box-bg-color);
  background: var(--call-out-box-text-color);
}

.lgd-page-section--bg-colour-1 .call-out-box--has-image .call-out-box__content{
  background: linear-gradient(to right, var(--call-out-box-text-color) 75%, transparent);
  color: var(--call-out-box-bg-color);
}

.lgd-page-section--bg-colour-1 .call-out-box__content h2,
.lgd-page-section--bg-colour-1 .call-out-box__content h3 {
  color: var(--call-out-box-bg-color);
}

.lgd-page-section--bg-colour-1 .call-out-box__link {
  color: var(--call-out-box-bg-color);
  background-color: var(--call-out-box-text-color);
}

.media-with-text__link,
.paragraph--type--localgov-link a {
  color: inherit;
}

.lgd-page-section--bg-colour-1  .lgd-icon {
  fill: var(--color-accent-contrast);
}

.paragraph--type--localgov-accordion .field--name-localgov-paragraphs,
.paragraph--type--localgov-accordion-pane {
  border-color: inherit;
}
