.lgd-image__image+* {
  color: var(--image-caption-background);
}
.lgd-image--has-caption {
  border-width: var(--image-border);
  /* apply to images without captions also */
}

/* Quote  */
.pull-out-quote {
  border-color: var(--quote-border-color);
}
.pull-out-quote__content {
  color: var(--quote-content-color);
}

/* Accordion */
.accordion-pane__title h3 {
  margin: 0;
}

.accordion-pane__title button {
  background: none;
  padding: var(--spacing) 0;
  border: var(--border-none);
  /* border-bottom: 1px solid grey; */
  color: var(--color-accent-1);
  font-size: var(--font-size-h3);
}

.paragraph--type--localgov-accordion-pane {
  border-bottom: 1px solid grey;
  /* todo add top line on first accordion */
}

/* todo - add the icons to accordion */


.media-with-text--media-left .media-with-text__body {
  padding-left: var(--spacing-larger);
}

.media-with-text--media-right .media-with-text__body {
  padding-right: var(--spacing-larger);
}

.featured-teaser {
  background: var(--featured-teaser-background);
  color: var(--featured-teaser-color);
  border: var(--featured-teaser-border);
}

.featured-teaser * {
  color: inherit;
}

.call-out-box__link,
.media-with-text__link,
.featured-teaser a {
  /* todo make bigger */
  font-weight: bold;
  font-size: large;
}

.featured-teasers__teasers>.field__items>.field__item+.field__item {
  margin-top: var(--spacing-larger);
}

.ia-block--promoted {
  /* todo no border */
  border: var(--ia-block-border) !important;
  color: var(--ia-block-border);
}

.ia-block--promoted * {
  color: inherit;
}


table caption {
  text-align: start;
  margin-bottom: var(--spacing-tiny);
}

table p {
  margin-bottom: var(--spacing-tiny);
}

.call-out-box__content h2,
.call-out-box__content h3 {
  color: var(--call-out-box-text-color);
  /* todo add this to the localgov_base */
}

.call-out-box__link {
  color: var(--call-out-box-text-color) !important;
  background-color: var(--call-out-box-bg-color) !important;
  /* maybe an inverted colour or not choice ? todo add this to the localgov_base */
}
