.microsite-header__pre-header {
  padding: var(--spacing);
  color: var(--pre-header-text-color);
  background-color: var(--pre-header-background-color);
}

.microsite-header__pre-header a {
  color: var(--pre-header-link-color);
}

.microsite-header__pre-header a:focus,
.microsite-header__pre-header a:hover {
  color: var(--pre-header-link-hover-color);
}

.region-microsites-header {
  padding: var(--spacing);
  color: var(--header-text-color);
  background-color: var(--header-background-color);
}

.region-microsites-header a {
  color: var(--header-link-color);
}

.region-microsites-header a:focus,
.region-microsites-header a:hover {
  color: var(--header-link-hover-color);
}

.microsite-header__main {
  display: flex;
  gap: var(--spacing);
}

.microsite-header__logo {
  max-width: var(--header-logo-width);
}

.microsite-header__menus {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
}

.microsite-header__menu .field__items {
  display: flex;
  gap: var(--spacing);
}
