.lgd-page-section--full-width {

}

.lgd-page-section--full-width-contained-content {
  background-color: var(--color-accent-2);
  padding: var(--spacing-larger) 0;
  margin-bottom: var(--spacing-larger);
}
