.dialog-off-canvas-main-canvas {
  /* @TODO remove if this gets merged https://github.com/localgovdrupal/localgov_base/pull/188 */
  position: relative;
}

.off-canvas {
  position: absolute;
  z-index: 10000;
  top: 0;
  width: 500px;
  max-width: 90%;
  height: 100%;
  padding: var(--spacing);
  transition: var(--transition-time);
  color: var(--off-canvas-text-color);
  border-color: var(--off-canvas-border-color);
  border-right: var(--border);
  border-bottom: var(--border);
  background-color: var(--off-canvas-background-color);
}

.off-canvas[data-expanded="false"] {
  transform: translateX(-100%);
}

.off-canvas[data-expanded="true"] {
  transform: translateX(0);
}

.region-off-canvas {
  display: flex;
}

.off-canvas a {
  color: var(--off-canvas-link-color);
}

.off-canvas a:focus,
.off-canvas a:hover {
  color: var(--off-canvas-link-hover-color);
}

.lgd-region__inner--off-canvas {
  width: calc(100% - var(--spacing) * 2);
}

.off-canvas__close {
  position: absolute;
  top: var(--spacing);
  right: var(--spacing);
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--spacing);
}
