body {
  background-color: var(--page-background-color);
}

/* Typography tweaks */
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: var(--spacing-smaller);
}

h5,
h6 {
  font-variant: none;
  text-decoration: none;
}

/* Table */
table caption {
  text-align: start;
  margin-bottom: var(--spacing-smaller);
}

table th p {
  color: var(--table-header-text-color);
  margin: 0;
}
table p {
  margin-bottom: var(--spacing-smaller);
}

thead {
  border: var(--border);
}

input[type="date"], input[type="datetime-local"], input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], textarea, select, .select2-container--default .select2-search--dropdown .select2-search__field {
  border: var(--input-border);
}

a:focus-visible {
  outline: -webkit-focus-ring-color auto 2px;
}

a:focus {
  background-color: transparent;
  box-shadow: none;
  outline: -webkit-focus-ring-color auto 2px;
  color: inherit;
}

.callout-primary {
  color: var(--color-accent-contrast);
}

main {
  padding-bottom: var(--spacing);
}
