.accordion-pane__title h3 {
  margin: 0;
}

.accordion-pane__title button {
  padding: var(--spacing) 0;
  border: var(--border-none);
  font-family: var(--font-heading-3);
  font-size: var(--font-size-h3);
  color: inherit;
  line-height: var(--heading-3-line-height);
  font-weight: var(--heading-3-font-weight);
}

.paragraph--type--localgov-accordion .field--name-localgov-paragraphs{
  border-top: var(--border);
}

.paragraph--type--localgov-accordion-pane {
  border-bottom: var(--border);
}

.paragraph--type--localgov-accordion .field--name-localgov-paragraphs,
.paragraph--type--localgov-accordion-pane {
  border-color: inherit;
}

.accordion-pane__title button {
  background: url(../../localgov_base/templates/includes/icons/chevron-down.svg) 100% 50% no-repeat;
  background-size: 1.5rem;
}

.accordion-pane__title button[aria-expanded="true"] {
  background-image: url(../../localgov_base/templates/includes/icons/chevron-up.svg);
}