.banner--primary .banner__content .field--name-localgov-title {
  font-family: var(--banner-title-font);
}

.banner--primary .banner__content {
  display: grid;
  gap: 0 var(--spacing);
}

.banner--primary .banner__content * {
  grid-column: 1;
}

.banner--primary .banner__content .field--name-localgov-subsites-banner-logo {
  grid-row: 1 / span 3;
  grid-column: 2;
}

.banner--primary .banner__link {
  display: block;
  max-width: var(--banner-content-width);
  margin: calc(var(--banner-content-margin) * -1) auto var(--banner-content-margin);
}
