.region-microsites-footer {
  padding: var(--spacing);
  color: var(--footer-text-color);
  background-color: var(--footer-background-color);
}

.region-microsites-footer a {
  color: var(--footer-link-color);
}

.region-microsites-footer a:focus,
.region-microsites-footer a:hover {
  color: var(--footer-link-hover-color);
}

.microsite-footer__logos .field__items,
.microsite-footer__housekeeping ul,
.microsite-footer__copyright,
.microsite-footer__powered_by {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--spacing);
  margin-bottom: var(--spacing);
}

.microsite-footer__logos .field__items {
  align-items: center;
}

.microsite-footer__text-block {
  margin-top: var(--spacing);
  margin-bottom: var(--spacing);
}

.region-microsites-footer .lgd-row + .lgd-row {
  margin-top: var(--spacing);
}

.microsite-footer__housekeeping ul {
  list-style-type: none;
}

.region-microsites-footer h2,
.region-microsites-footer h3,
.region-microsites-footer h4,
.region-microsites-footer h5,
.region-microsites-footer h6 {
  color: var(--footer-text-color);
}

@media screen and (min-width: 768px) {
  .microsite-footer .lgd-row__one-quarter,
  .microsite-footer .lgd-row--quarters > * {
    width: calc(25% - var(--footer-grid-column-spacing));
  }
}

.microsite-footer .lgd-row > * {
  margin-right: calc(var(--footer-grid-column-spacing) / 2);
  margin-left: calc(var(--footer-grid-column-spacing) / 2);
}

.region-microsites-footer .lgd-region__inner > .lgd-row:first-of-type {
  justify-content: var(--footer-grid-column-justification);
}
