.webform-required {
  margin-bottom: var(--vertical-rhythm-spacing);
}

.webform-submission-form .form-required::after {
  display: inline-block;
  padding: 0 var(--spacing-smallest);
}

.webform-confirmation {
  padding: var(--spacing);
  border: var(--border-large);
  border-color: var(--color-success);
}
