.node-preview-container {
  position: relative;
  padding: 0;
  background-color: var(--color-grey-light);
  box-shadow: var(--box-shadow);
}
.node-preview-form-select {
  display: flex;
  align-items: center;
  padding: var(--spacing-smaller);
}

.form-item-view-mode {
  margin-bottom: 0;
}

.node-preview-backlink {
  margin-right: var(--spacing);
  padding: var(--spacing);
  border-right: var(--border-large);
}
